body {
    margin:0;
    background:#0f172a;
    color:#e5e7eb;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    display:flex;
    padding:20px;
    gap:20px;
}

.menu-area {
    flex:3;
}

.menu-grid {
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
    gap:15px;
}

.menu-card {
    background:#1e293b;
    border-radius:12px;
    padding:10px;
    cursor:pointer;
    transition:.3s;
}

.menu-card:hover {
    background:#334155;
    transform:scale(1.03);
}

.menu-card img {
    width:100%;
    height:120px;
    object-fit:cover;
    border-radius:10px;
}

.cart-area {
    flex:1;
    background:#020617;
    padding:15px;
    border-radius:12px;
}

.cart-item {
    display:flex;
    justify-content:space-between;
    margin-bottom:8px;
}

.btn-bayar {
    width:100%;
    padding:10px;
    background:#3b82f6;
    border:none;
    color:white;
    border-radius:8px;
    margin-top:10px;
    cursor:pointer;
}

.btn-clear {
    width:100%;
    padding:8px;
    background:#ef4444;
    border:none;
    color:white;
    border-radius:8px;
    margin-top:5px;
    cursor:pointer;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.modal-box form {
  margin: 0;
  width: 100%;
}

.modal-box button {
  width: 100%;
  display: block;
  margin: 0 auto 10px auto;
  text-align: center;
  border: none;
  cursor: pointer;
}

.btn-qris {
  display:block;
  background:#22c55e;
  padding:10px;
  border-radius:8px;
  margin-bottom:10px;
  color:white;
  text-decoration:none;
}

.btn-tunai {
  display:block;
  background:#3b82f6;
  padding:10px;
  border-radius:8px;
  color:white;
  text-decoration:none;
}

.btn-batal {
    width: auto !important;
  display:inline-block;
  background:#a39797;
  padding:8px 50px ;
  border-radius:5px;
  color:white;
  text-decoration:none;
}

.badge-qris {
    background-color: #6f42c1;
    color: #fff;
}

.badge-tunai {
    background-color: #fd7e14;
    color: #fff;
}

